$min-width: 320px; 
$max-width: 1367px; 
$base-bg: #FFF; 
$base-font-size: 18px; 
$base-font-family: 'PFBagueSansPro', sans-serif; 
$custom-font-family: 'PFBagueSansPro', sans-serif; 
$link-color: #2F2F2F;
$default-transition:all 0.2s linear;

/* main variables */

$main-color: #000; 