@font-face {
	font-family: 'PFBagueSansPro';
	src: url('../fonts/PFBagueSansPro-Medium.eot');
	src: url('../fonts/PFBagueSansPro-Medium.eot') format('embedded-opentype'),
	    url('../fonts/PFBagueSansPro-Medium.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro-Medium.woff') format('woff'),
        url('../fonts/PFBagueSansPro-Medium.ttf') format('truetype'),
        url('../fonts/PFBagueSansPro-Medium.svg#PFBagueSansPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
	font-family: 'PFBagueSansPro';
	src: url('../fonts/PFBagueSansPro-Light.eot');
	src: url('../fonts/PFBagueSansPro-Light.eot') format('embedded-opentype'),
	    url('../fonts/PFBagueSansPro-Light.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro-Light.woff') format('woff'),
        url('../fonts/PFBagueSansPro-Light.ttf') format('truetype'),
        url('../fonts/PFBagueSansPro-Light.svg#PFBagueSansPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
	font-family: 'PFBagueSansPro';
	src: url('../fonts/PFBagueSansPro-Regular.eot');
	src: url('../fonts/PFBagueSansPro-Regular.eot') format('embedded-opentype'),
	    url('../fonts/PFBagueSansPro-Regular.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro-Regular.woff') format('woff'),
        url('../fonts/PFBagueSansPro-Regular.ttf') format('truetype'),
        url('../fonts/PFBagueSansPro-Regular.svg#PFBagueSansPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
	font-family: 'PFBagueSansPro';
	src: url('../fonts/PFBagueSansPro-Bold.eot');
	src: url('../fonts/PFBagueSansPro-Bold.eot') format('embedded-opentype'),
	    url('../fonts/PFBagueSansPro-Bold.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro-Bold.woff') format('woff'),
        url('../fonts/PFBagueSansPro-Bold.ttf') format('truetype'),
        url('../fonts/PFBagueSansPro-Bold.svg#PFBagueSansPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}